body {
	background-color:#f0ead6;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 200;
}
			
div.webgl {
	margin:auto;
	width: 1000px;
	height: 800px;
	text-align:center;
	border:1px solid white;
}

p {
	text-align:center;
}