body {
	background-color:#f0ead6;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 200;
}
			
div.webgl {
	margin: auto;
	width: 100%;
	height: 100%;
	max-width: 1000px;
	max-height: 800px;
	text-align: center;
	border: 5px #675C56;
}

p {
	text-align:center;
}